<!DOCTYPE html>
<html lang="en" class="h-full">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue 3</title>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="h-full grid place-items-center">
    <div id="app">
      <section>
        <h2 class="font-semibold mb-2">In Progress</h2>
        <ul>
          <li
            v-for="assignment in assignments.filter(a => ! a.completed)"
            :key="assignment.id"
          >
            <label>
              {{ assignment.title }}
              <input type="checkbox" v-model="assignment.completed" />
            </label>
          </li>
        </ul>
      </section>

      <section class="mt-8">
        <h2 class="font-semibold mb-2">Completed</h2>
        <ul>
          <li
            v-for="assignment in assignments.filter(a => a.completed)"
            :key="assignment.id"
          >
            <label>
              {{ assignment.title }}
              <input type="checkbox" v-model="assignment.completed" />
            </label>
          </li>
        </ul>
      </section>
    </div>

    <script>
      let app = {
        data() {
          return {
            assignments: [
              { id: 1, title: "Assignment 1", completed: false },
              { id: 2, title: "Assignment 2", completed: false },
              { id: 3, title: "Assignment 3", completed: false },
            ],
          };
        },
      };

      Vue.createApp(app).mount("#app");
    </script>
  </body>
</html>
